{% extends 'base.html' %}

	{% block content %}

	<p> Hello World</p>
	{% if user and not user.is_anonymous %}
		<div class="greeting_div">
			<h2 class="greeting_text"> Hello {{user.get_short_name}}!</h2>
			<h1 class="welcome_text"> Welcome to Miracle Workers Housing Search </h1>	
		</div>
		
		<a class="button" href="{% url 'logout' %}">Log Out</a>
		


	{% else %}
		<div class="greeting_div">
			<h1 class="welcome_text"> Welcome to Miracle Workers Housing Search </h1>
		</div>

	{% endif %}

	{% endblock content %}